<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutian.lucene.mapper.HotelMapper">
  <resultMap id="HotelResultMap" type="com.yutian.lucene.entity.Hotel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lk_name" jdbcType="VARCHAR" property="lkName" />
    <result column="lk_sex" jdbcType="VARCHAR" property="lkSex" />
    <result column="lk_idcode" jdbcType="VARCHAR" property="lkIdCode" />
    <result column="lk_address" jdbcType="VARCHAR" property="lkAddress" />
    <result column="lg_hname" jdbcType="VARCHAR" property="lgHName" />
    <result column="lg_haddress" jdbcType="VARCHAR" property="lgHAddress" />
    <result column="lg_telphone" jdbcType="VARCHAR" property="lgTelphone" />
    <result column="lk_noroom" jdbcType="VARCHAR" property="lkNoroom" />
    <result column="lk_ltime" jdbcType="TIMESTAMP" property="lkLtime" />
    <result column="lk_etime" jdbcType="TIMESTAMP" property="lkEtime" />
    <result column="lk_createtime" jdbcType="TIMESTAMP" property="lkCreatetime" />
  </resultMap>
  
  <sql id="Hotel_Column_List">
    id, lk_name, lk_sex, lk_idcode, lk_address, lg_hname, lg_haddress, lg_telphone, lk_noroom, 
    lk_ltime, lk_etime, lk_createtime
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="HotelResultMap">
    select 
    <include refid="Hotel_Column_List" />
    from Hotel
    where id = #{id,jdbcType=INTEGER}
  </select>
  	
  
</mapper>